<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <handlers>
        <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
      </handlers>
      <httpPlatform processPath="D:\home\site\wwwroot\wikigo.exe" startupTimeLimit="60">
        </httpPlatform>
    </system.webServer>
</configuration>